# System
PORT=3001
# Telegram
TELEGRAM_BOT_TOKEN=TOKEN
TELEGRAM_BOT_USERNAME=your_bot_username
TELEGRAM_PRIVATE_CHANNEL_ID=-123456789
TELEGRAM_SUPPORT_USERNAME=username
# CMS
CMS_URL=https://example.ru
CMS_TOKEN=TOKEN
# Pay
YOOKASSA_KEY=key
YOOKASSA_SHOP_ID=123456789
CRYPTO_BOT_TOKEN=TOKEN